body {
  background-color: #343a40;
  color: #ffffff;
}

.container {
  background-color: #212529;
  padding: 20px;
  border-radius: 8px;
}

.nav-tabs .nav-link {
  color: #ffffff;
}

.nav-tabs .nav-link.active {
  background-color: #495057;
  color: #ffffff;
  border-color: #495057;
}

.list-group-item {
  background-color: #495057;
  color: #ffffff;
  border-color: #6c757d;
}

.btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}