body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.left-side {
  background-color: #1E9CF1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 20px;
  position: fixed;
}
.right-side {
  right: 0;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 140px;
  position: fixed;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0;
}
.left-side h1{
  font-size: 45px;
  margin-bottom: 5px;
}
.left-side p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.login {
  font-size: 40px;
  margin-bottom: 5px;
}
.login-twitter {
  font-size: 20px;
  color:#757575 ;
}

.logo {
  width: 40px;
}
.illustration {
  width: 70%;
  height: 70%;
  margin-top: 20px;
}
input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  font-size: 14px;
}

.sign-in {
  width: 100%;
  padding: 10px;
  background-color: #1E9CF1;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.input-textpass input{
  background-color: #ebebeb;
}
.forgot-password {
  text-align: right;
  font-size: 15px;
  margin-top: 5px;
}
.forgot-password a {
  text-decoration: none;   
  color: #191D23;
}
.sign-up {
  text-align: right;
  font-size: 14px;
  margin-top: 20px;
}
.sign-up a {
  color: #1E9CF1;
  text-decoration: none;
}
.or {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  color: #191D23;
}
.social-login {
  display: flex;
  justify-content: space-between;
}
.social-login a {
  width: 48%;    
  font-weight: bold;
  text-decoration: none;
}
.social-login a button {
  width: 100%;
  padding: 10px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.social-login img {
  margin-right: 10px;
}
.sign-google{
  background-color: #ebebeb;
  color: #191D23;
}

.sign-apple {
  background-color: #191D23;
  color: #EEEEEE;
}