body {
  background-color: #1e1e1e;
  color: #ffffff;
}

.container-fluid {
  max-width: 90%;
}

.axios-title {
  color: #6495ED;
  font-size: 30px;
}

.section-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: #2c2c2c;
  border: none;
  border-radius: 4px;
}

.card-body {
  padding: 25px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #cccccc;
}

.card-text {
  font-size: 15px;
  color: #cccccc;
}

.row {
  --bs-gutter-x: 20px;
}

.col {
  flex: 0 0 auto;
  width: 20%;
  padding: 0 15px;
}
